/*
Hier kommen die globalen styles rein
*/
.navbar{
    background-color: white!important;
    color: black!important;
}

.btn-outline-dark {
    background-color: white!important;
    color: black !important;
    border: black !important;
    border-width: 1px!important;
    border-style: solid!important;
}

.clickable{
    cursor: pointer;
}

.main-container{
    height: calc(100vh - 4rem);
    width: calc(100%);
    padding: 2rem 6rem;
    position: relative;
    top: 4rem;
}

.navbar{
    height: 4rem;
}

.link-container{
    margin-left: 2rem;
}

.icons-container{
    margin-right:1rem;
    width: calc(25% - 1rem)!important;
}

.icon-container{
    margin-right: 1rem;
}

.icon{
    font-size: 2rem!important;
}