body{
    background-image: url("http://localhost/web/resources/logo/background.webp");
    color: white!important;
    background-color: transparent!important;
}

.modal-content{
    background-color: #202124!important;
}

.form-control{
    background-color: #202124!important;
    color: white!important;
}

.form-control:disabled{
    background-color: #3c4043!important;
    color: white!important;
}

.dropdown-menu{
    background-color: #202124!important;
    color: white!important;
}

li a{
    background-color: transparent!important;
    color: white!important;
}

.clickable{
    cursor: pointer;
}

.custom-container {
    width: 100%;
    height: calc(100vh  - 4rem);
    padding: 3rem 8rem;
    position: absolute!important;
    top: 4rem!important;
    overflow: auto;
}

.navbar{
    height: 4rem;
}

.icon{
    font-size: 32px!important;
}

.icon-container{
    margin: .5rem;
}