.logo{
    justify-content: center;
    display: flex;
}

.links{
    justify-content: center;
    display: flex;
}

.icons{
    justify-content: end;
    display: flex;
}

.logo-img{
    height: 40px;
    margin-top: 5px;
}

.item{
    margin:10px;
}

.icon{
    display: grid;
    margin-right: 20px;
}
